html {
  height: 100%;
  box-sizing: border-box;
}

.navbarbackground { /* navbar design */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #212b2c;
    width: 100%;
    text-transform: uppercase;
}

.navbar li {
    float: left;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    background-color: #212b2c;
    color: #56959b;
    text-decoration: none;
    text-align: center;
    margin-bottom: 16px;
    margin-right: 30px;
}

#nightmode { /* positioning nightmode button */
    float: right;
}

.navbar li a:hover {
  background-color: #0b3d42;
}

.navbar li a:link {
    text-decoration: none;
}

.navbar li a:visited {
    text-decoration: none;
}

.jumbotron { /* the hot air balloon background image */
  height: 800px;
  width: 100%;
  background-image: url("Icons/nightmode1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  position:relative;
  padding-top:1px;
}

#intro { /* design of the intro text on index html */
    background-color: rgb(25,34,35);
    background: rgba(25, 34, 35, .9);
    border: solid 2px #56959b;
    color: #56959b;
    width: 400px;
    height: 175px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
}

.hvr-sink { /* design of sinking "read more" button on index html*/
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
  color: #56959b;
  border: solid 2px #56959b;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 50px;
}

.hvr-sink a{
  text-decoration: none;
  color: #56959b;
  font-weight:normal;
}

img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 50%;
}

.tableStyle { /* design of table on techniekwebsysteem.html */
    align: center;
    width: 700px;
    margin-top: 0px;
    margin-left: 41%;
    margin-right: auto;
    display:inline-block;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.tableStyle img { /* sizing for images inside of the table */
   width: 110px;
   height: 110px;
}

.widgContainer { /* div containing bitcoin price widget */
  background-color:#353536;
  margin: 0px;
  padding: 1px;
}

#coindesk-widget {
  position: relative;
}

.widgContainer h6 { /* style of "steven nassy" at the very bottom of every page */
 font-family: 'Raleway', sans-serif;
 margin: 0px;
 text-align: center;
 color:#56959b;
}




.listContainer { /* styles lists on AboutMe.html */
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
  color: #56959b;
  border: solid 0.125rem #56959b;
  display:inline-flex;
  width: 22%;
  padding-bottom: 2.5%;
  margin: 3% 3% 3% 6.5%;
}

.content { /* styles listContainer contents and motivContainer contents */
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 18px;
  height: 200px;
}

.content a {
  text-decoration: underline;
  color: #56959b;
}

#name { /* styling for my name below my picture on the AboutMe.html page*/
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
  color: #56959b;
  border: solid 2px #56959b;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 0px;
  padding: 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 50px;
}

.hvr-sink { /* styling for sinking-effect button */
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
  transform: translateY(-8px);
}

.motivContainer /* styles motivation containers */
{
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
  color: #56959b;
  border: solid 0.125rem #56959b;
  font-family: 'Raleway', sans-serif;
  display:inline-flex;
  text-align: left;
  width: 36%;
  height: 32%;
  padding: 0% 3% 2% 3%;
  margin: 17% 3% 3% 10%;
}

#motivList /* styles list on motivation.html*/
{
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
  color: #56959b;
  border: solid 0.125rem #56959b;
  font-family: 'Raleway', sans-serif;
  display:inline-flex;
  height: 32%;
  width: 22%;
  padding-right: 1%;
  padding-bottom: 5%;
  margin: 17% 3% 3% 1.5%;
}

.introPic { /* the round image of me*/
   margin: auto;
   width: 50%;
   padding: 10px;
   text-align: center;
}
.hvr-float-shadow { /* special floating effect on the round image of me*/
  background-color: transparent;
  border: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {+
  transform: translateY(-8px);
}

/* Dropdown Button for techniekwebsysteem*/
.dropbtn {
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
    color: #56959b;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(25,34,35);
    background: rgba(25, 34, 35, .9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: #56959b solid 1px;
    z-index: 2;
    color: #56959b;
}

span {font-weight: 600;
      }

/* Links inside the dropdown */
.dropdown-content a {
    color: #56959b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: teal;
}

.shake-hard  /* shakes motivation meter */
{
  margin-top: 30px;
  margin-left: 40%;
  width: 20%;
  padding: 10px;
  text-align: center;
  position:absolute;
}

.choiceBtns { /* positie buttons rock paper scissors*/
  margin: 10% 0% 0% 38%;
  display: inline-flex;
}

.choiceBtns button { /* styling buttons rps*/
  margin-left: 7%;
  background-color: #212b2c;
  border-color: #56959b;
  color: #56959b;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: cursor;
  margin-bottom: 5%;
}

.yourChoice { /* ''you chose x'' container div */
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}

.choices {
  background-color: rgb(25,34,35);
  background: rgba(25, 34, 35, .9);
  border: solid 2px #56959b;
  color: #56959b;
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  margin-left: 35%;
  margin-bottom: 1%;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;

}

  .sitemapList { /* sitemap list styling on sitemap.html */
    background-color: rgb(25,34,35);
    background: rgba(25, 34, 35, .9);
    border: solid 0.125rem #56959b;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    height: 200px;
    width: 400px;
    margin: 100px auto;
  }
.sitemapList ul {
    color: #56959b;
  }
  .sitemapList a {
    text-decoration: none;
    color: #56959b;
  }
